<section id="members">
  <h1>Members</h1>

  <% @users.each_with_index do |user, index| %>
    <% if index % 6 == 0 && !current_user %>
      <article class="member add">
        <%= link_to "Sign in with Twitter", "/auth/twitter" %>
      </article>
    <% end %>
    <article class="member">
      <%= image_tag user.image_url, class: "avatar" %>
      <h1 class="name"><%= link_to user.name, user.website %></h1>
      <h2 class="twitter"><%= link_to "@#{user.nickname}", "http://twitter.com/#{user.nickname}" %></h2>
    </article>
  <% end %>
</section>

<div class='ad'>
  <% if current_user %>
    <%= link_to image_tag('http://oreilly.com/images/ads/ug_discount_125x125.gif'), 'http://oreilly.com/ug' %>
  <% else %>
    <p>Members get up to <b>50%</b> off O&rsquo;Reilly books.</p>
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <% end %>
</div>