<section id="members">
  <h1>Members</h1>

  <% @users.each_with_index do |user, index| %>
    <% if index % 6 == 0 && !current_user %>
      <article class="member add">
        <%= link_to "Sign in with Twitter", "/auth/twitter" %>
      </article>
    <% end %>
    <article class="member">
      <%= image_tag user.image_url, class: "avatar" %>
      <h1 class="name"><%= link_to user.name, user.website %></h1>
      <h2 class="twitter"><%= link_to "@#{user.nickname}", "http://twitter.com/#{user.nickname}" %></h2>
    </article>
  <% end %>
</section>

<div class='ad'>
  <% if current_user %>
    <%= link_to image_tag('http://oreilly.com/images/ads/ug_discount_125x125.gif'), 'http://oreilly.com/ug' %>
  <% else %>
    <p>Members get up to <b>50%</b> off O&rsquo;Reilly books.</p>
    <%= link_to "Sign in with Twitter", "/auth/twitter" %>
  <% end %>
</div>

<div class='ad'>
  <%= link_to image_tag('http://cdn.oreillystatic.com/oreilly/ug/promos/velocityeu/2013/VLEU_125x125_ug.gif'),
  'http://velocityconf.com/velocityeu2013/?cmp=ba-velocity-confreg-home-vleu13_ug_banners' %>
</div>

<div class='ad' style='height: auto;'>
  <%= link_to image_tag('http://cdn.oreilly.com/oreilly/ug/promos/strataeu/2013/120x90.gif'),
  'http://strataconf.com/strataeu2013/?cmp=ba-strata-confreg-home-steu13_ug_banners' %>
</div>
