<!DOCTYPE html>
<html>
<head>
  <title>Cardiffrb: A list of Ruby and Ruby on Rails developers in Cardiff, Wales UK</title>
  <%= stylesheet_link_tag "reset", "application", "jquery.jtweetsanywhere-1.2.1" %>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<%= javascript_include_tag "rails", "jquery.jtweetsanywhere-1.2.1.min", "application" %>
  <%= csrf_meta_tag %>

	<!-- Add html5shiv if browser doesn't support html5 elements -->
	<!--[if lt IE 9]>
  	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

	<% nicknames = User.all.collect { |u| u.nickname } %>
	<script>
		$(document).ready(function(){
		    $('#tweets').jTweetsAnywhere({
		        username: <%= raw nicknames %>,
		        count: 10,
		    });
		});
	</script>

	<link href='http://fonts.googleapis.com/css?family=Bevan' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Arvo:regular,bold' rel='stylesheet' type='text/css'>

</head>
<body>

	<header>
		<h1>Cardiff<span class="rb">rb</span></h1>
	</header>

	<div id="user-nav">
	  <% if current_user %>
	    <span class="signed-in">Signed in as <%= link_to "@#{current_user.nickname}", "http://twitter.com/#{current_user.nickname}" %> | <%= link_to "Sign Out", signout_path %></span>
			<span class="delete">Don&rsquo;t want to be listed? <%= link_to 'Remove Me', user_path(current_user.id), :confirm => 'Are you sure? This will delete your account from cardiffrb.', :method => :delete %>
	  <% else %>
	    <span class="get-listed"><%= link_to "Get Listed! Sign in with Twitter", "/auth/twitter" %></span>
	  <% end %>
	</div>
			<a class="follow" href="http://www.twitter.com/cardiffrb"><img src="http://twitter-badges.s3.amazonaws.com/follow_me-c.png" alt="Follow cardiffrb on Twitter"/></a>

	<div class="intro">
		<h2>I use Ruby in Cardiff!</h2>
	</div>

	<%= yield %>
	
	<div class="clear"></div>
	<span class="tweetup">Don&rsquo;t use Ruby but love the web? Follow <%= link_to "@CardiffTweetup", "http://twitter.com/CardiffTweetup" %> and await further instruction!</span>
	

	<section id="twitter-feed">
		<h3>What We&rsquo;re Saying…</h3>
		<div id="tweets"></div>
	</section>

	<div class="clear"></div>

	<footer>
		<span class="by">Comments / Suggestions / Copyright <%= link_to "_gareth", "http://garethrees.co.uk" %> <%= Time.now.year %> &copy;</span>
	</footer>

	<%= render :partial => "shared/analytics" %>

</body>
</html>
